body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #fefcea, #f1daff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #3f3f3f;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin: 0 5px;
}

input[type="color"],
input[type="range"],
select,
button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

#brushSizeValue {
  font-weight: bold;
  color: #333;
}

button {
  background-color: #4b0082;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #37005a;
}

canvas {
  border: 2px solid #333;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
